.scoreCardContainer{
    position: static;
    display: flex;
    padding: 10px;
    margin: 25px;
    /*width: 400px;*/
    border: #e3e3e3 1px solid;
}

.columnA{
    width: calc(25%);
    display: flex;
}

.columnB{
    width: calc(50%);
    display: flex;
    align-items: center;
    border-left: #e3e3e3 1px solid;
    padding-left: 25px;
}

.columnC{
    width: calc(25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: #e3e3e3 1px solid;
    margin-left: 25px;
}

h3.scoreCardName{
    margin-top: 0px;
    font-size: 12pt;
    height: 12px;
}

.scoreHeader{
    border: #e3e3e3 1px solid;
    margin: 0px;
    padding: 5px;
    font-size: 14pt;
    background-color: #f8f8f8;
}

.scoreCardProfile{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.scoreCardContent{
    height: auto;
    width: 400px;
}

.scoreContainer{
    border-left: #e3e3e3 1px solid;
    border-right: #e3e3e3 1px solid;
    border-bottom: #e3e3e3 1px solid;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.line{
    border: #e3e3e3 1px solid;
}

