.questionContainer{
    position: static;
    padding: 0px;
    margin: 10px;
    height: auto;
    width: 400px;
    border: #e3e3e3 1px solid;
}

.previewColumn{
    position: relative;
    display: flex;
    margin: 15px;
    /*width:400px;*/
    /*height:130px;*/
}


h3.questionHeader{
    border-bottom: #e3e3e3 1px solid;
    margin: 0px;
    padding: 10px;
    font-size: 14pt;
    background-color: #f8f8f8;
}

h4.wouldYouRather{
    /*margin: 0px;*/
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 12pt;
}
p{
    margin: 0px 0px 10px;
    font-size: 10pt;
}
.viewPollBtn{
    display: block;
    box-sizing: border-box;
    text-align: center;
    border: #34987c 1px solid;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    font-size: 10pt;
    color: #34987c;
}

.viewPollBtn:hover{
    color: white;
    background-color: #34987c;
}

.profileDiv{
    display: flex;
    /*width: 25%;*/
    /*margin-right: 5px;*/
    align-items: center;
    vertical-align: middle;
}

.questionColumn{
    width: calc(75%);
    display: flex;
    margin-left: 15px;
    border-left: #e3e3e3 1px solid;
    align-items: center;
}

.question{
    /*border: #222222 1px solid;*/
    display: block;
    width: 100%;
    margin-left: 15px;
    /*margin-right: 15px;*/
}




